@charset "UTF-8";
* { box-sizing: border-box; 
	font-family: 'IBM Plex Mono', monospace;
}

 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
}
#street-view {
  position: relative;
  height: 80%;
  width: 75%;
  top: -8.5%;

}
.questionBox{
	height: 25%;
	width: 75%;
	margin-top: -4.25%;
}
.button:hover{
	cursor: pointer;
}
.button{
	float: left;
	width: 25%;
	padding: 1%;
	height: 20%;
	border: 1px solid black;
	text-align: center;
	background-color: #A8A8A8;
}
.button:hover{
	background-color: white;
}
.chatBox{
	float: right;
	border: 1px solid black;
	width: 25%;
	height: 76.5%;
	background-color: black;
	font-size: 15px;
	text-align: center;
	color: white;
}
.clear{
	clear:left;
}