@charset "UTF-8";
* { box-sizing: border-box; 
	font-family: 'IBM Plex Mono', monospace;
}

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#wrapper {
	float: left;
	position: absolute;
	height: 100%;
	width: 75%;
}

#container {
	float: left;
	position: absolute;
	height: 75%;
	width: 100%;

	display:flex;
	justify-content:center;
	align-items:center;
}

#street-view {
  position: absolute;
  visibility: visible;
  height: 100%;
  width: 100%;
}

#leaderboard {
	position: absolute;
	opacity: 0;
		
	z-index: 2;
	width: 25vw;
    padding: 15px 35px 45px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
}

.header{
	font-size: 55px;
	position: absolute;
	background-color: rgba(192,192,192,0.7);
	border-radius: 15px;
	margin-left: 25px;
    margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	transition-duration: 0.3s;
	color: white;
	z-index: 2;
}

.header:hover {
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.5);
    transition-duration: 0.3s;
}

.questionBox{
	height: 25%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.button:hover{
	cursor: pointer;
}
.button{
	float: left;
	width: 25%;
	padding: 1%;
	height: 20%;
	border: 1px solid black;
	text-align: center;
	background-color: #bab9b4;
}
.button:hover{
	background-color: #A2E8DD;
}

button disabled {
	background-color: black;
}

.chatBox{
	float: right;
	position: relative;
	bottom: 0;
	width: 25%;
	height: 100%;
	background-color: #627C85;
	font-size: 15px;
	text-align: center;
	color: white;
	border: 1px solid white;
}

.bottom{
	position: relative;
	float: left;
	width: 100%;
	height: 80%;
	background-color: #627C85;
	color: white;
	text-align: center;
	font-size: 90px;

}

.clear{
	clear:left;
}

#messages {
	float: left;
	width: 100%;
	height: 75%;
	top: 0;
}

#submit {
	float: left;
	width: 100%;
	height: 20%;
}

table {
	
}

.myButton {
	background-color:grey;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
	width: 25%;
	text-align: center;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
input[type=text]{
   /*  width: 50%; */
    padding: 12px 26px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.finder{
	border-top: 2px solid white;
}

#chatHis {
	table-layout: fixed;
	height: 100%;
	bottom: 0;
	font-size: 15px;
	height: 100%;
	width: 100%;
	text-align: left; 
}

@keyframes fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes fadeIn{
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn{
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeIn{
  0%   { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeOut {
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes fadeOut{
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut{
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes fadeOut{
  0%   { opacity:1; }
  100% { opacity:0; }
}




