@charset "UTF-8";
* { box-sizing: border-box; 
	font-family: 'IBM Plex Mono', monospace;
}

 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

#container {
	position: relative;
	height: 80%;
	width: 75:
	
}

#street-view {
  position: absolute;
  height: 100%;
  width: 75%;
  top: -10%;

}

#leaderboard {
	position: absolute;
	visibility: hidden;
}


.questionBox{
	height: 25%;
	width: 75%;
	margin-top: -4.25%;
}
.button:hover{
	cursor: pointer;
}
.button{
	float: left;
	width: 25%;
	padding: 1%;
	height: 20%;
	border: 1px solid black;
	text-align: center;
	background-color: #A8A8A8;
}
.button:hover{
	background-color: white;
}
.chatBox{
	float: right;
	border: 1px solid black;
	width: 25%;
	height: 76.5%;
	background-color: black;
	font-size: 15px;
	text-align: center;
	color: white;
	border: 1px solid white;
}

.bottom{
	width: 100%;
	height: 120%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 120px;
	
}
.bottom span{
	margin-top: 40px;
}

.clear{
	clear:left;
}
.myButton {
	background-color:grey;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
	width: 25%;
	text-align: center;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
input[type=text]{
   /*  width: 50%; */
    padding: 12px 26px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.finder{
	border-top: 2px solid white;
}
.finder2{
	position: static;
	height: 85%;
	width: 100%;
}